.courshes-comtainer{

    display: grid;
    grid-template-columns: 4fr 1fr;
    
    gap: 20px;
    
    
}

.courshes-comtainer img{
    width: 350px;
    height: 200px;
    border-radius: 20px;
}

.bonous-crash-course {
    display: flex;
    gap: 20px;
}
